body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fondo{
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}
nav{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav ul .link{
  margin-right: 5px;
  text-decoration: none;
  color:black;
  transition-duration: 0.2s;
}
nav ul .link:hover{
  opacity: 0.5;
}

.panel{
  background-color: black;
  width: 20%;
  height:100vh;
  display: flex;
  align-items: flex-start;
}
.panel ul li{
  color:white;
  text-decoration: none;
}
.container{
  width: 90%;
  margin: auto;
}

.formulario{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.formulario h1{
  text-align: center;
}
.formulario form{
  display: flex;
  flex-direction: column;
}
.formulario form input{
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid gray;
  font-weight: bold;
  color: gray;
  justify-content: flex-end;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: green;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
 background: white;
}
select{
  max-width: 40%;
}

.center{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.izquierda{
  
  left: 0;
}
.sombra{
  border-radius: 10px;
  
  box-shadow: 1px 10px 26px 0px rgba(0,0,0,0.17);
-webkit-box-shadow: 1px 10px 26px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 1px 10px 26px 0px rgba(0,0,0,0.17);
}
.flexEvenly{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.flexEvenly h1{
  font-weight: bold;
  font-size: 20px;
}
.true{
  background-color: #E4F8DD;
  text-align: center;
  color: #249B18;
  font-weight: bold;
  border-radius: 7px;
  width: 60px;
  font-size: 12px;
  padding: 2px 5px;
}
.false{
  background-color: #FFE2E1;
  text-align: center;
  color: #B72136;
  font-weight: bold;
  border-radius: 7px;
  width: 60px;
  font-size: 12px;
  padding: 2px 5px;
}
.formularios{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formularios input{
  border-radius: 5px;
  border: 2px solid gray;
  padding: 5px;
  color: gray;
  transition-duration: 0.2s;
  margin-bottom: 10px;
}
.formularios input:focus{
  border: 2px solid green;
  outline: none;
  padding: 10px;
}

